<h1>Showing Article Details</h1>

<h3>Title: <%= @article.title %></h3>
<h3>Description: <%= @article.description %></h3>

<%= link_to "Edit",  edit_article_path(@article) %>
<%= link_to "Return to menu", articles_path  %>
    